/// MIXINS

/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

/// Utility for colors
@each $color-name, $hex in $own_theme_colors {
  .color-#{$color-name} {
    color: $hex;
  }
  .bg-#{$color-name} {
    background-color: $hex;
  }
}

/// Link Mixin
/// @access public
/// @params {String} $link, $visit, $hover, $active - Link colors
@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}

/// Utilities - Bootstrap Text Classes
/// Nice for when bootstrap isn't avail.
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/// Utilities - Text
.text-align-center { text-align: center;}
.text-align-left { text-align: left;}
.text-align-right { text-align: right;}

/// Utilities - Positioning
.p-relative { position: relative !important;}
.p-absolute { position: absolute !important;}

/// Utilities - Display
.d-flex { display: flex; }
.d-block { display: block; }
.d-inline-block { display: inline-block; }

// Useful padding for sections
// Update as necessary.
%section-padding {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

// Darken an image.
.bg--faded {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #001225, #202B32);
    opacity: .6;
  }
}

// Add blockquote quote marks
%quote-mark {
  background: url('../images/quotes.png');
  content: ' ';
  width: 25px; // update as needed
  height: 25px; // update as needed
  background-size: cover;
  display: block;
  margin-bottom: 35px;
}

%bleed-left {
  margin: 0px 0 0px -9989px;
  padding: 50px 50px 50px 9999px;
}

%bleed-right {
  margin: 0px -9999px 0px 0;
  padding: 0px 9989px 0px 0px;
}
