:root {
  --link: #0d6efd;
  --link-dark: #bb86fe;
  --bg-black: #000;
  --bg-black-1: #0d1117;
  --bg-white: #fff;
  --bg-white-1: #f5f5f5
  --bg-white-2: #f4f2ed;
  --heading-color: #000;
  --paragraph-color: #000;
  --paragraph-size: 20px;
}
