////
/// Utility Styles
/// @group utils
////

/// Utilities - Bootstrap Text Classes
/// Nice for when bootstrap isn't avail.
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

/// Utilities - Text
.text-align-center { text-align: center !important;}
.text-align-left { text-align: left !important;}
.text-align-right { text-align: right !important;}

/// Utilities - Positioning
.p-relative { position: relative !important;}
.p-absolute { position: absolute !important;}

/// Utilities - Display
.d-flex { display: flex !important; }
.d-block { display: block !important; }
.d-inline-block { display: inline-block !important; }

/// Utilites - Faded Background
.bg--faded {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #001225, #202B32);
    opacity: .6;
  }
}
